@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  color: #025275;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #C0CCD9;
  padding: 20px;
  margin: 0;
}

.login-form {
  width: 100%;
  max-width: 380px;
  background: white;
  padding: 28px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.20);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 22px;
  font-size: 22px;
  color: #025275;
}

.login-form label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #025275;
}

.login-form input,
.login-form select {
  width: 90%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #bbb;
  font-size: 14px;
  background: #f7f7f7;
  color: #025275;
}

.login-btn {
  width: 97%;
  background: #052A40;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.login-btn:hover {
  background: #025275;
}

@media (max-width: 480px) {
  .login-form {
    margin: 0 15px;
  }
}
